@use 'mixins' as *;
@use 'variables' as *;
@use  'sass:color';
// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/general-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set
%arrow-right {
  content: '\e900';
}

%linkedIn {
  content: '\e901';
}

%user {
  content: '\e902';
}

%tg {
  content: '\e903';
}

%x {
  content: '\e904';
}

.x {
  &::before {
    @extend %x;
  }
}

.tg {
  &::before {
    @extend %tg;
  }
}

.linkedIn {
  &::before {
    @extend %linkedIn;
  }
}

.user {
  &::before {
    @extend %user;
  }
}

.icon-square {
  display: inline-flex;
  align-items: center;
  padding: .5625rem;
  justify-content: center;
  border: 1px solid color.adjust($white, $alpha: -.6);
  border-radius: 5px;
}
