@use 'mixins' as *;
@use 'variables' as *;
@use  'sass:color';
// -----------------------------------------------------------------------------
// All icons font set
@font-face {
  font-family: 'font-icon';
  src: url('../f-icons/f-icons.eot');
  src: url('../f-icons/f-icons.eot?#iefix') format('embedded-opentype'),
  url('../f-icons/f-icons.woff') format('woff'),
  url('../f-icons/f-icons.ttf') format('truetype'),
  url('../f-icons/f-icons#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

%font-icon {
  @include font-size(30);
  display: inline-block;
  font-family: 'font-icon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Icons set
%icon-arrow {
  content: '\e900';
}

%icon-fb {
  content: '\e90d';
}

%icon-vk {
  content: '\e901';
}


.icon-square {
  display: inline-block;
  padding: .45rem;
  border: 1px solid color.adjust($white, $alpha: -.6);
  border-radius: 5px;
  width: 26px;
  height: 26px;
}
