@use 'sass:color';
@use '../../util/variables' as *;
@use '../../util/mixins' as *;

.page-section {
  padding: var(--mobile-indent) 0;

  @include media-q(min, 991) {
    padding: var(--default-indent) 0;
  }
}

.section-columns {
  @include media-q(min, 768) {
    display: flex;
    gap: var(--mobile-indent);
  }

  @include media-q(min, 991) {
    gap: 80px;
  }
}

.block-image {
  flex-basis: 50%;
  order: -1;
  margin-bottom: 40px;

  @include media-q(min, 768) {
    order: initial;
    margin-bottom: 0;
  }

  @include media-q(min, 991) {
    flex-basis: auto;
  }
}

.section-with-bg {
  background: $item-gradient;
}

.audit-reports {
  padding: 60px 0;
  gap: var(--mobile-indent);
  margin: 0 -20px;

  @include media-q(min, 768) {
    border-radius: 20px;
    display: flex;
    padding: 40px;
  }

  @include media-q(min, 991) {
    gap: 80px;
  }

  .block-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent url('../images/plus-bg-big.svg') -30px 15px;
    width: 100%;

    @include media-q(min, 768) {
      background-color: $color-background;
      border-radius: 20px;
      padding: 166px 45px;
      max-width: 440px;
    }

    img {
      padding: 30px 70px;

      @include media-q(min, 768) {
        padding: 0;
      }
    }
  }

  .block-info {
    padding: 0 20px;

    @include media-q(min, 768) {
      flex-basis: 50%;
      padding: 100px 0;
    }

    @include media-q(min, 991) {
      max-width: 440px;
      flex-basis: auto;
    }
  }
}

.report-benefits {
  @include font-size(18);
  line-height: 1.6;
  margin: 1.875rem 0;
  color: $white;

  li {
    padding-left: 50px;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 13px;
      left: 18px;
      width: 1px;
      height: 16px;
      background: $color-main-gradient;
      transition: transform .3s ease;
    }

    &::before {
      transform: translateY(-50%) rotate(0);
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.audit-actions {
  .btn-gradient {
    margin-left: 0;
    margin-right: 10px;
  }
}
