@use  '../../util/variables' as *;
@use  '../../util/mixins' as *;
@use '../../util/font-icons' as *;

.anchor {
  &__list {
    min-width: 320px;
    align-self: flex-start;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    overflow: auto;
    background-color: $color-background;

    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;

    @include media-q(min, 768) {
      overflow: hidden;
    }

    @include media-q(min, 991) {
      width: 100%;
      min-width: 480px;
    }

    &-container {
      display: flex;

      @include media-q(min, 768) {
        align-items: center;
        flex-direction: column;
      }
    }

    &-item {
      margin-bottom: 10px;
    }
  }

  &__trigger {
    opacity: .6;
    padding: 14px 20px 10px 20px;
    border: 1px solid transparent;
    border-radius: 99rem;
    display: inline-flex;
    transition: color .3s ease, border-color .3s, opacity .3s ease;
    min-width: 250px;
    position: relative;

    &.active,
    &:hover {
      border-color: $color-main;
      opacity: 1;

      &::before {
        background: $color-main-gradient;
        border-color: $color-background;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-30px, -50%);
      border: 1px solid $white;
      border-radius: 99rem;
      width: 10px;
      height: 10px;
    }
  }

  &__item {
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 20px;

    @include media-q(min, 768) {
      padding: 40px;
    }

    img {
      margin-bottom: 30px;
    }

    h3 {
      @include font-size(20);

      @include media-q(min, 768) {
        @include font-size(26);
      }
    }
  }

  &__label {
    text-transform: uppercase;
    font-family: $sans;
    font-weight: normal;
    letter-spacing: .04rem;
    opacity: .6;
  }
}


.custom-list {
  max-width: 340px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      display: flex;
      align-items: center;

      &::before {
        @extend %font-icon;
        @extend %arrow-right;
        @include font-size(20);
        margin-right: 20px;
        transition: background .3s ease;
      }

      &:hover {
        &::before {
          color: transparent;
          background: $color-main-gradient;
          background-clip: text;
        }
      }
    }
  }
}


.related-services {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include media-q(min, 768) {
    flex-direction: row;
    gap: 40px;
  }

  &__item {
    display: flex;

    @include media-q(min, 768) {
      flex-basis: calc(33% - 40px);
    }
  };

  &__link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    background: $item-gradient;

    &::before {
      @extend %font-icon;
      @extend %arrow-right;
      @include font-size(20);
      margin-right: 1rem;
      transition: background .3s ease;
    }

    &:hover {
      &::before {
        color: transparent;
        background: $color-main-gradient;
        background-clip: text;
      }
    }
  }
}
