@use '../../util/variables' as *;
@use '../../util/mixins' as *;

.cards-list {
  display: flex;
  gap: 30px;
}

.card {
  &-item {
    flex-basis: 33%;
    overflow: hidden;
    border-radius: 20px;
    background: $item-gradient;
    display: flex;
    flex-direction: column;
  }

  &-top {
    background: $color-main-gradient;
    display: flex;
    justify-content: center;
    padding: 28px;
  }

  &-info {
    padding: 30px 30px 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &-meta {
    @include font-size(12);
    font-family: $sans-bold;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
    margin-top: auto;
  }
}
