@use 'sass:color';
@use '../../util/variables' as *;
@use '../../util/mixins' as *;

.cards-list {
  @include media-q(min, 768) {
    display: flex !important;
    gap: 30px;
  }
}

#mobile-slider {
  max-width: 320px;
  margin: 0 auto;

  @include media-q(min, 768) {
    max-width: none;
    margin: 0;

    &.splide {
      visibility: visible;
    }
  }

  .splide__pagination {
    bottom: -40px;

    li {
      width: 60px;
      margin: 0 5px;
    }

    &__page {
      width: 100%;
      border-radius: 2px;
      height: 2px;
      background: color.adjust($white, $alpha: -.8);
      transition: background .3s ease;
      margin: 0;

      &:hover {
        background: color.adjust($white, $alpha: -.1);
      }

      &.is-active {
        transform: none;
        background: $color-main-gradient;
      }
    }
  }
}

.card {
  &-item {
    overflow: hidden;
    border-radius: 20px;
    background: $item-gradient;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media-q(min, 768) {
      flex-basis: calc(33% - 20px);
    }
  }

  &-top {
    background: $color-main-gradient;
    display: flex;
    justify-content: center;
    padding: 28px;
  }

  &-info {
    padding: 30px 30px 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &-meta {
    @include font-size(12);
    font-family: $sans-bold;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 10px;
    margin-top: auto;
  }

  &-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
